@CHARSET "UTF-8";
/* Bootstrap Fix*/
.page-header{
    margin: 0;
    padding-bottom: 0;
    border-bottom: 0;
    height: 100px;
    width: 100%;
}
.nav-top{
    position: relative;
    background-color: #36A2C2;
    width: 100%;
    top: 0;
}
.nav-top .navbar-form{
    padding: 0;
    margin: 0;
    display: inline;
    position: relative;
    right: 0px;
}
.nav-top .form-group{
    padding: 4px 0;
    position: relative;
    right: 0;
}
.nav-top .btn-group-sm>.btn, .btn-sm {
    border-radius: 0px;
}
.nav-top .btn-group-sm>.btn, .btn-sm {
    padding: 2px 6px;
}
.nav-top .input-sm {
    height: 24px;
    padding: 5px 8px;
}
.nav-top .user,.nav-top .admin-in{
    padding-top: 4px;
}
.nav-top .user .admin:before{
    content: '|   ';
    color: #fff;
}
@media (min-width: 768px){
    .navbar {
        border-radius: 0;
        position: relative;
        top: 0;
        z-index: 800;
    }
}

.page-header .navbar{
    margin-bottom: 0;
    min-height: 100px;
    border: none;
}
.navbar-default {
    background-color: rgba(81, 153, 208, 0.8);
}

.navbar-collapse{
    padding-right: 0;
}
.contanier-fl{
    padding-right: 0;
    padding-left: 12px;
}
.dropdown-menu {
    font-size: 16px;
    border-radius: 0;
    background-color: rgba(154, 203, 240, 0.84);
    box-shadow: none;

}

.navbar-nav>li>a {
    line-height: 70px;
}
.navbar-brand {
    padding: 0;
}
/* phone */
@media (max-width: 768px){

    .navbar-brand {
        margin-top: 40px;
        margin-left: 4px;
        padding: 0;
        font-size: 38px;
    }
    .navbar-default {
        position: relative;
        top: 0;
    }
    .nav>li{
        border-bottom: 1px solid #86A6F7;
    }
    .navbar-form{
        padding: 0;
        margin-bottom: 0;
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
        background-color: rgba(117, 175, 221, 1);
    }
    /*.btn-group, .btn-group-vertical {*/
        /*margin-top: 10px;*/
    /*}*/
    .navbar-default {
        background-color: rgba(119, 176, 220, 1);
    }
}
/*PC*/
@media(min-width: 970px){
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
        color: #FAFAFC;
        background-color: #0e92e5;
    }
}
.navbar-default .navbar-brand{
    color: #fff;
}
.navbar-toggle {
    border-radius: 0;
    background-color: rgb(170, 218, 255);
    margin-top: 35px;
    margin-left: 2px;
}

@media(min-width: 1280px) and (max-width:1360px){
    .nav>li>a {
        padding-right: 5px;
        padding-left: 5px;
    }
    .navbar-nav>li {
        font-size: 15px;
    }
}
@media(min-width: 1360px) and (max-width:1440px){
    .nav>li>a {
        padding-right: 8px;
        padding-left: 8px;
    }
    .navbar-nav>li {
        font-size: 16px;
    }
}

@media(min-width: 1440px)and (max-width:1560px){
    .nav>li>a {
        padding-right: 12px;
        padding-left: 12px;
    }
    .navbar-nav>li {
        font-size: 17px;
    }
}
@media(min-width: 1560px){
    .nav>li>a {
        padding-right: 13px;
        padding-left: 13px;
    }
    .navbar-nav>li {
        font-size: 18px;
    }
}
.navbar-default .navbar-nav>li>a {
    color: #FAFAFC;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #FAFAFC;
    background-color: #0e92e5;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #FFFFFF;
    background-color: rgba(124, 192, 231, 0.75);
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #BDE2FF;
}
.navbar-default .navbar-toggle {
    border-color: #C3E1F8;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #F6F6F6;
    background-color: transparent;
}
.dropdown-menu>li>a {
    color: #FFF;
}
.dropdown-menu>li>a :hover{
    color: #FFF!important;
}
.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-radius: 0;
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
.page-header .navbar .btn-info {
    color: #fff;
    background-color: rgba(159, 233, 255, 0.54);
    border-color: rgba(60, 208, 251, 0.81);
}

.form-control {
    border-radius: 0;
    box-shadow: inset 0 0 0 #fff;
    -webkit-box-shadow: inset 0 0 0 #fff;
}
nav form .btn{
    border-radius: 0;
    margin-top: 27px;
}
nav form .btn-default {
    color: #074DFB;
    background-color: rgba(255, 255, 255, 0.92);
    border-color: #9DC1FF;
}

ul,.dropdown-menu{
    min-width: 100px;
}
.btn-group .dropdown-menu{
    position: absolute;
    z-index: 20000;
}

/* Globle Common Style */
hr {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img{
    padding:0;
    margin:0;
}
body{
    color: #1A1A1A;
    background-color: #f6f6f6;
    font-size: 15px;
    font-weight: 300;
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu, Arial, Helvetica, sans-serif;
}
a{
    color:#fff;
    text-decoration: none;
}
a:hover{
    color: #fffa97;
    text-decoration: none;
}
.page-body .container{
    background-color: #fff;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    min-height: 800px;
}
.logo{
    height: 100px;
}

#et-slides .et-slide{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    -webkit-background-size: cover;/* 兼容Webkit内核浏览器如Chrome和Safari */
    -o-background-size: cover;/* 兼容Opera */
    zoom: 1;
}

.page-footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #000;
    opacity: .8;
    z-index: 800;
}
.page-footer .text{
    font-size: 14px;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 5px;
}
.page-footer .text p {
    padding-bottom: 10px;
    line-height: 16px;
}
@media (min-width: 970px) {
    .list-spliter{
        padding-right: 10px;
        border-right: 1px solid #FFF;
    }
}
.text ul{
    padding-bottom: 10px;
}
.hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 0;
    clear: both;
}
#et-slider-wrapper {
    /*  position: fixed; */
    background: #000;
}

.my-breadcrumb{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    list-style: none;
}
.my-breadcrumb li{
    display: inline-block;
    color: #0044cc;
    font-weight: 300;
    font-size: 14px;
}
.my-breadcrumb li a{
    color: #00b200;
}
.my-breadcrumb li a:hover{
    color: #A7BBFC;
    text-decoration: none;
}
.my-breadcrumb li+li:before{
    content: '>>';
    font-size: 20px;
    font-weight: 500;
}

a{
    text-decoration: none!important;
}
.side-nav{
    margin-top: 46px;
}
.side-nav li{
    list-style: none;
    width: 100%;
    height: 40px;
    background-color: #f0f6fa;
    margin-top: 1px;
    cursor: pointer;
}
.side-nav li i{
    background: #E0EAF0;
    padding: 11px;
    color: #B9CBD5;
    border-left: solid 2px #99ADB8;
}
.side-nav a{
    font-size: 16px;
    color: #557386;
}
.side-nav .active{
    background-color: #169EF4;
}
.side-nav .active{
    color: #fff;
    text-decoration: none;
}
.side-nav .active i{
    color: #fff;
    background-color: #0C91E5!important;
    border-left: solid 2px #0C91E5;
}
.navbar-nav li :focus{
    background-color: #337ab7;
}
@media (max-width: 768px) {
    .smallscreen-foot p{
        display: block;
        padding: 10px 0;
        margin-top: 6px;
        color: #fff;
    }
    .page-body .container{
        margin: 20px;
    }
}
/*PC*/
@media (min-width: 970px) {
    .smallscreen-foot p{
        display: none;
    }
    .side-nav .active:after{
        content: '';
        display: inline-block;
        border-bottom: 6px solid transparent;
        border-top: 6px solid transparent;
        border-left: 6px solid #169ef4;
        position: absolute;
        margin-top: 12px;
        right: 10px;
    }
}
@media(max-width: 1326px){

}
.login-welcome{
    line-height: 28px;
    color:#fff;
}
.top30{
    margin-top: 30px;
}
.error-body{
    margin: 0 auto;
    background-color: #fff;

}
.error-word {
    font-size: 180px;
    font-family: cursive, Helvetica, Arial;
    color: #A6AFB5;
    text-shadow: 5px 5px 10px #878382;
    margin: 0 auto;
    padding: 10px 100px 0px 100px;
}
.error-content{
    margin: 0 auto;
    padding: 30px 100px 0px 100px;
    font-size: 30px;
}
.error-button{
    float: right;
    padding: 0px 150px 1px 0px;
    font-size: 20px;
    color: #9C9C9C;
}
.error-button-return{
    border: 1px solid #FDAE4F;
    border-radius: 15px;
    color: #495355;
    background-color: #0063dc;
}
.error-img{
    padding: 100px 100px 0px 100px;

}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 16px;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #fff;
    border: 0;
    border-radius: 0;
}